.unit-table-container {
  font-family: Arial, sans-serif;
  padding: 0rem 0.5rem 0rem 1rem;
}

.unit-select-label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
}

unit-select {
  margin-left: 0.3rem;
  padding: 0.3rem;
  font-size: small;
  font-weight: bold;
}


